*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    margin-top: 30px;
    text-transform: uppercase;
    color: burlywood;
    text-shadow: 1.5px 1.5px 0 #333, 0px 1.5px 0 #333, -1.5px -1.5px 0 #333, -1.5px -1.5px 0 #333, -1.5px 1.5px 0 #333, 1.5px -1.5px 0 #333, 0.7778174593px 0.7778174593px 0 #aaaaaa, 1.5556349186px 1.5556349186px 0 #aaaaaa, 2.3334523779px 2.3334523779px 0 #aaaaaa, 3.1112698372px 3.1112698372px 0 #aaaaaa, 3.8890872965px 3.8890872965px 0 #aaaaaa, 4.6669047558px 4.6669047558px 0 #aaaaaa, 5.4447222151px 5.4447222151px 0 #aaaaaa, 6.2225396744px 6.2225396744px 0 #aaaaaa, 7.0003571337px 7.0003571337px 0 #aaaaaa, 7.7781745931px 7.7781745931px 0 #aaaaaa;
}


body{
  background-image: url('img/bg.jpg');
}
.container {
  max-width: 1000px;
  margin:  auto;
  margin-top: 20px;
  height: 600px;
  border-radius: 20px;
}
 .tombol a{
  display: flex;
  justify-content: center;
  max-width: 200px;
  padding: 5px 10px;
  border: 2px solid black;
  font-size: 30px;
  margin:50px auto;
  text-decoration: none;
  color: white;
  background-color: grey;
  border-radius: 15px;
  box-shadow: 3px 4px black;
}

.tombol a:hover{
  cursor: pointer;
  background-color: black;
  transform: translateY(4px);
  color: aliceblue;
}
.tombol{
    border: 5px solid;
    max-width: 420px;
    border-radius: 20px;
    background-color: rgba(225, 225, 225 ,0.6);
    margin: 35px auto;
}
footer{
  background-color: beige;
  display: flex;
  opacity: 0.8;
  height:60px;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width:470px) {
  img{
    width:100px;
  }
}
@media screen and (max-width:340px) {
  img{
    width: 70px;
  }
  h1{
    font-size: 40px;
  }
}
@media  screen and (max-width:424px){
    .ok{
       margin: -3px;
       font-size: 35px;
       border-radius: 50px;
    }
}
      

.bo{
  margin-left: 5px;
}
.fot{
  color: black;
  opacity: 0.8;
}
.ok{
    position: absolute;
    border-radius: 100px;
}
